<header id="content-header" ng-class="contentHeaderClass">
    <h1>
        <i id="content-header-icon" class="glyphicon glyphicon-tags"></i>
        AttributeSets / {{pageTitle}}
    </h1>
    
</header>

<div class="container-fluid">

    <form ng-submit="isEditMode ? update(form) : create(form)" name="form" class="form-horizontal max-width" role="form" novalidate>
        <!-- novalidate prevents HTML5 validation since we will be validating ourselves -->

        <div class="form-group" ng-class="{ 'has-error' : form.name.$invalid && submitted }">
            <label class="col-md-2 control-label">Name</label>
            <div class="col-md-4">
                <input class="form-control" ng-model="attributeSet.name" type="text" name="name" my-focus="isFocusOnName" required />
                <p ng-show="form.name.$invalid  && submitted" class="help-block">This field is required.</p>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">Description</label>
            <div class="col-md-4">
                <input class="form-control" ng-model="attributeSet.description" type="text" name="description" />
            </div>
        </div>


        <div class="form-group" ng-class="{ 'has-error' : form.description.$invalid && submitted }">
            <label class="col-md-2 control-label">Attributes:</label>
            <div class="col-md-4">
                <div class="input-group">
                    <select id="optionSetAttributes" class="form-control" ng-model="dotObject.selectedAttribute" ng-options="c as c.name for c in attributes">
                        <option value=""></option>
                    </select>
                    <span class="input-group-btn"><button type="button" class="btn btn-primary" ng-click="addAttribute()"> <span class="glyphicon glyphicon-plus"></span> Add this attribute</button></span>
                </div>
            </div>
        </div>

        <div class="form-group" ng-class="{ 'has-error' : form.description.$invalid && submitted }">
            <div class="col-md-4 col-md-offset-2">

                <accordion close-others="true">
                    <accordion-group ng-repeat="attribute in attributeSet.attributes" ng-mouseenter="attributeBtnAreVisible=true" ng-mouseleave="attributeBtnAreVisible=false">
                        <accordion-heading>
                            {{attribute.name}}
                            <span class="pull-right" ng-if="attributeBtnAreVisible">
                                <button type="button" class="btn btn-xs" ng-click="removeAttribute($index, attribute, $event)"> <span class="glyphicon glyphicon-remove"></span></button>
                                <button type="button" class="btn btn-xs" ng-click="attributeDown($index, attribute, $event)"> <span class="glyphicon glyphicon-arrow-down"></span></button>
                                <button type="button" class="btn btn-xs" ng-click="attributeUp($index, attribute, $event)"> <span class="glyphicon glyphicon-arrow-up"></span></button>
                            </span>
                        </accordion-heading>
                        <strong>Description:</strong> {{attribute.description}}<br />
                        <strong>Type:</strong> {{attribute.type}} <br />
                        <!--<div ng-switch="attribute.type">
                            <div ng-switch-when="SingleOption">
                                <strong>Options:</strong>  <span ng-repeat="item in  attribute.options">
                                    {{item}}<span ng-if="!$last">, </span>
                                </span>
                            </div>
                            <div ng-switch-when="MultipleOptions">
                                <strong>Options:</strong>  <span ng-repeat="item in  attribute.options">
                                    {{item}}<span ng-if="!$last">, </span>
                                </span>
                            </div>
                        </div>-->
                        <div ng-if="attribute.type=='SingleOption' || attribute.type=='MultipleOptions'">
                            <strong>Options:</strong>  <span ng-repeat="item in  attribute.options">
                                {{item}}<span ng-if="!$last">, </span>
                            </span>
                        </div>

                        <div ng-if="attribute.type=='Text' && attribute.defaultValue">
                            <strong>DefaultValue:</strong> {{attribute.defaultValue}} <br />
                        </div>
                        <div ng-if="attribute.type=='SingleOption' && attribute.defaultValue">
                            <strong>DefaultOption:</strong> {{attribute.defaultValue}} <br />
                        </div>
                        <div ng-if="attribute.type=='MultipleOptions' && attribute.defaultValues">
                            <strong>DefaultOptions:</strong> <span ng-repeat="item in  attribute.defaultValues">
                                {{item}}<span ng-if="!$last">, </span>
                            </span> <br />
                        </div>




                    </accordion-group>
                </accordion>

            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-primary"> <span class="glyphicon glyphicon-floppy-disk"></span> Save </button>
                <button type="button" class="btn" ng-click="cancel()"> <span class=" glyphicon glyphicon-remove"></span> Cancel </button>
            </div>
        </div>

    </form>

</div>

<!--Attributes: <pre>{{attributes | json}}</pre>-->
<!--AttributeSet: <pre>{{attributeSet | json}}</pre>-->