<header id="content-header" ng-class="contentHeaderClass">
    <h1>
        <i id="content-header-icon" class="glyphicon glyphicon-tag"></i>
        Attributes
    </h1>

</header>

<div class="container-fluid">
    <div class="row toolbar">
        <div class="col-md-4">
            <button type="button" class="btn btn-primary" ng-click="create()"> <span class="glyphicon glyphicon-plus"></span> Add new attribute </button>
            <button type="button" class="btn" ng-click="refresh()"> <span class="glyphicon glyphicon-refresh"></span> </button>
        </div>

        <div class="col-md-3 pull-right">
            <div class="input-group">
                <input ng-model="search" name="newEmail" type="text" class="form-control" placeholder="Search">
                <span class="input-group-btn"><button class="btn btn-primary" type="button"><span class="glyphicon glyphicon-search"></span></button></span>
            </div>
        </div>

    </div>


    <div class="table-responsive">
        <table class="table table-responsive table-hover table-condensed">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <!--<th>TypeDetails</th>-->
                    <th>DefaultValue(s)</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="attribute in attributes | filter:search">
                    <td>
                        <a ng-href="/admin/attributes/{{attribute.id}}">{{attribute.name}}</a>
                        <i class="glyphicon glyphicon-info-sign" ng-if="attribute.description" bs-tooltip data-animation="am-fade-and-scale" data-title="{{attribute.description}}"></i>
                    </td>
                    <td>{{ attribute.type }}</td>
                    <!--<td><span ng-if="attribute.type=='OptionSet'">{{ attribute.typeDetails }}</span></td>-->

                    <!--<td>
                        <span ng-if="attribute.type=='OptionSet'">{{ attribute.typeDetails.optionSetId}} [{{ attribute.typeDetails.defaultValue}}] </span>
                        <span ng-if="attribute.type=='OptionSet-MultiVal'">{{ attribute.typeDetails.optionSetId}} [<span ng-repeat="item in  attribute.typeDetails.defaultValues">{{item}}<span ng-if="!$last">, </span></span>] </span>
                    </td>-->
                    <!--<td>{{ attribute.defaultValue }}</td>-->

                    <td ng-switch="attribute.type">
                        <!--<span ng-switch-when="SingleOption">{{ attribute.defaultValue }}</span>-->
                        <span ng-switch-when="MultipleOptions" ng-repeat="item in  attribute.defaultValues">
                            {{item}}<span ng-if="!$last">, </span>
                        </span>
                        <span ng-switch-default>{{ attribute.defaultValue }}</span>
                    </td>

                    <td>
                        <a ng-click="delete(attribute)">delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
