<style>
    #my-glyphicon {
    -webkit-transform: scaleY(-1) rotate(60deg); /* Chrome 4+, Op 15+, Saf 3.1, iOS Saf 3.2+ */
       -moz-transform: scaleY(-1) rotate(60deg); /* Fx 3.5-15 */
        -ms-transform: scaleY(-1) rotate(60deg); /* IE 9 */
         -o-transform: scaleY(-1) rotate(60deg); /* Op 10.5-12 */
            transform: scaleY(-1) rotate(60deg); /* Fx 16+, IE 10+ */
    }

    [contenteditable] {
        border: 2px dotted #ccc;
        background-color: #eee;
        padding: 2px;
    }

</style>

<header id="content-header" ng-class="contentHeaderClass">
    <h1>
        <i id="content-header-icon" class="glyphicon glyphicon-tags"></i>
        TechSpecs / {{pageTitle}}
    </h1>
    
</header>

<div class="container-fluid">

    <form ng-submit="isEditMode ? update(form) : create(form)" name="form" class="form-horizontal max-width" role="form" novalidate>
        <!-- novalidate prevents HTML5 validation since we will be validating ourselves -->

        <div class="form-group" ng-class="{ 'has-error' : form.name.$invalid && submitted }">
            <label class="col-md-2 control-label">Name</label>
            <div class="col-md-4">
                <input class="form-control" ng-model="techSpec.name" type="text" name="name" my-focus="isFocusOnName" required />
                <p ng-show="form.name.$invalid  && submitted" class="help-block">This field is required.</p>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">Description</label>
            <div class="col-md-4">
                <textarea class="form-control" ng-model="techSpec.description" name="description" msd-elastic></textarea>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">Specifications:</label>
            <div class="col-md-4">

                <div class="panel panel-default" style="margin-bottom:0">
                    <!--<div class="panel-heading">Panel heading</div>-->

                    <div class="panel-body" style="padding-right:5px">
                        <div class="panel-group" as-sortable="sortableOptionsForSection" ng-model="techSpec.sections" style="margin-bottom:0">
                            <div ng-repeat="section in techSpec.sections" as-sortable-item>
                                <div ng-if="selectedSection.name != section.name" class="panel panel-default">
                                    <div as-sortable-item-handle class="panel-heading" style="padding:5px 10px">
                                        <span class="glyphicon glyphicon-hand-up" style="color:lightgray"></span>
                                        <a ng-click=" toogleSection(section.name)" style="color:#333;">{{section.name}}</a>
                                        <span class="pull-right">
                                            <span class="dropdown" dropdown >
                                                <a href class="dropdown-toggle" dropdown-toggle>
                                                    <span class="glyphicon glyphicon-cog"></span><span class="caret"></span>
                                                </a>
                                                <ul class="dropdown-menu dropdown-menu-right">
                                                    <li><a ng-click="initRenameModeForSection(section)">Rename</a></li>
                                                    <li><a ng-click="removeSection(section)">Delete</a></li>
                                                    <li class="divider"></li>
                                                    <li><a href="#">View options</a></li>
                                                </ul>
                                            </span>
                                        </span>
                                    </div>
                                    <div class="panel-collapse collapse" collapse="section.name != dotObject.expandedSectionName">


                                        <div class="panel-body" style="padding-right:5px">
                                            <div panel-group as-sortable="sortableOptionsForSpecItem" ng-model="section.specItems">
                                                <div ng-repeat="specItem in section.specItems" as-sortable-item>
                                                    <!-- ==================================================================== -->

                                                    <div ng-if="selectedSpecItem.name != specItem.name" class=" panel panel-default">

                                                        <div as-sortable-item-handle class="panel-heading" style="padding:5px 10px">
                                                            <span class="glyphicon glyphicon-hand-up" style="color:lightgray"></span>

                                                            <a ng-click=" toogleSpecItem(specItem.name)" style="color:#333;">{{specItem.name}}</a>

                                                            <span class="pull-right">
                                                                <span class="dropdown" dropdown>
                                                                    <a href class="dropdown-toggle" dropdown-toggle>
                                                                        <span class="glyphicon glyphicon-cog"></span><span class="caret"></span>
                                                                    </a>
                                                                    <ul class="dropdown-menu dropdown-menu-right">
                                                                        <li><a ng-click="initRenameModeForSpecItem(specItem)">Rename</a></li>
                                                                        <li><a ng-click="removeSpecItem(section, specItem)">Delete</a></li>
                                                                    </ul>
                                                                </span>
                                                            </span>
                                                        </div>


                                                        <div class="panel-collapse collapse" collapse="specItem.name != dotObject.expandedSpecItemName">
                                                            <div class="panel-body" style="padding-right:5px">

                                                                Default option(s):<i class="glyphicon glyphicon-info-sign" bs-tooltip data-animation="am-fade-and-scale" title="Use 'Enter' key to add multiple options"></i>
                                                                <textarea class="form-control" ng-model="specItem.defaultOptions" split-array msd-elastic my-focus="true"></textarea>
                                                                <br />
                                                                Available options:<i class="glyphicon glyphicon-info-sign" bs-tooltip data-animation="am-fade-and-scale" title="Use 'Enter' key to add multiple options"></i>
                                                                <textarea class="form-control" ng-model="specItem.options" split-array msd-elastic> </textarea>

                                                            </div>
                                                        </div>


                                                    </div>

                                                    <!--rename specItem-->
                                                    <div ng-if="selectedSpecItem.name == specItem.name">
                                                        <div class="input-group">
                                                            <input ng-model="newSpecItem.name" type="text" class="form-control" my-focus="dotObject.isFocusOnRenameSpecItem" ng-keypress="renameSpecItemOnEnter(section, specItem, newSpecItem, $event)" />
                                                            <span class="input-group-btn">
                                                                <button type="button" class="btn btn-primary" ng-click="renameSpecItem(section, specItem, newSpecItem)"> <span class="glyphicon glyphicon-ok" title="Add item"></span></button>
                                                                <button type="button" class="btn" ng-click="selectedSpecItem.name=null"> <span class="glyphicon glyphicon-remove" title="Cancel (hide this input control)"></span></button>
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <!-- ==================================================================== -->

                                                </div>
                                            </div> <!--end panel group-->

                                            <div ng-show="!dotObject.isVisibleAddNewSpecItem">
                                                <a ng-click="initAddModeForSpecItem()">Add new spec</a>
                                            </div>

                                            <!--add new specItem-->
                                            <div ng-show="dotObject.isVisibleAddNewSpecItem">
                                                <div>Spec name:</div>
                                                <div class="input-group">
                                                    <input ng-model="newSpecItem.name" type="text" class="form-control" my-focus="dotObject.isFocusOnAddItem" ng-keypress="addSpecItemOnEnter(section, newSpecItem, $event)" />
                                                    <span class="input-group-btn">
                                                        <button type="button" class="btn btn-primary" ng-click="addSpecItem(section, newSpecItem)"> <span class="glyphicon glyphicon-ok" title="Add item"></span></button>
                                                        <button type="button" class="btn" ng-click="dotObject.isVisibleAddNewSpecItem=false"> <span class="glyphicon glyphicon-remove" title="Cancel (hide this input control)"></span></button>
                                                    </span>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <!--rename section-->
                                <div ng-if="selectedSection.name == section.name">
                                    <div class="input-group">
                                        <input ng-model="newSection.name" type="text" class="form-control" my-focus="dotObject.isFocusOnRenameSection" ng-keypress="renameSectionOnEnter(section, newSection, $event)" />
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-primary" ng-click="renameSection(section, newSection)"> <span class="glyphicon glyphicon-ok" title="Add item"></span></button>
                                            <button type="button" class="btn" ng-click="selectedSection.name=null"> <span class="glyphicon glyphicon-remove" title="Cancel (hide this input control)"></span></button>
                                        </span>
                                    </div>
                                </div>

                            </div>
                        </div>


                        <div ng-show="!dotObject.isVisibleAddNewSection">
                            <a ng-click="initAddModeForSection()">Add new spec group</a>
                        </div>

                        <!--add new section-->
                        <div ng-show="dotObject.isVisibleAddNewSection">
                            <div>Spec group name:</div>
                            <div class="input-group">
                                <input ng-model="newSection.name" type="text" class="form-control" my-focus="dotObject.isFocusOnAddSection" ng-keypress="addSectionOnEnter(newSection, $event)" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-primary" ng-click="addSection(newSection)"> <span class="glyphicon glyphicon-ok" title="Add item"></span></button>
                                    <button type="button" class="btn" ng-click="dotObject.isVisibleAddNewSection=false"> <span class="glyphicon glyphicon-remove" title="Cancel (hide this input control)"></span></button>
                                </span>
                            </div>
                        </div>


                    </div> <!--end panel body-->

                </div> <!--end panel-->
                <!--<button ng-if2="false" type="button" class="btn btn-link" style="padding-left:0;">Add new spec group</button>-->
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-primary"> <span class="glyphicon glyphicon-floppy-disk"></span> {{'GlobalButtons.Save' | translate}} </button>
                <button type="button" class="btn" ng-click="cancel()"> <span class="glyphicon glyphicon-remove"></span> {{'GlobalButtons.Cancel' | translate}} </button>
            </div>
        </div>

    </form>

    <!--<pre>{{techSpec | json}}</pre>-->

</div>
