<header id="content-header" ng-class="contentHeaderClass">
    <h1>
        <i id="content-header-icon" class="glyphicon glyphicon-tags"></i>
        OptionSets
    </h1>

</header>

<div class="container-fluid">
    <div class="row toolbar">
        <div class="col-md-4">
            <button type="button" class="btn btn-primary" ng-click="create()"> <span class="glyphicon glyphicon-plus"></span> Add new optionSet </button>
            <button type="button" class="btn" ng-click="refresh()"> <span class="glyphicon glyphicon-refresh"></span> </button>
        </div>

        <div class="col-md-3 pull-right">
            <div class="input-group">
                <input ng-model="search" name="newEmail" type="text" class="form-control" placeholder="Search">
                <span class="input-group-btn"><button class="btn btn-primary" type="button"><span class="glyphicon glyphicon-search"></span></button></span>
            </div>
        </div>

    </div>


    <div class="table-responsive">
        <table class="table table-responsive table-hover table-condensed">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Options</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="optionSet in optionSets | filter:search">
                    <td>
                        <a ng-href="/admin/optionsets/{{optionSet.optionSetId}}">{{optionSet.name}}</a>
                        <i class="glyphicon glyphicon-info-sign" ng-if="optionSet.description" bs-tooltip data-animation="am-fade-and-scale" data-title="{{optionSet.description}}"></i>
                    </td>
                    <!--<td >{{ optionSet.description }}</td>-->
                    <td><span ng-repeat="option in optionSet.options">{{option.name}}; </span></td>
                    
                    <td>
                        <a ng-click="delete(optionSet)">delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
       
    </div>

</div>
