<header id="content-header" ng-class="contentHeaderClass">
    <h1>
        <i id="content-header-icon" class="glyphicon glyphicon-tags"></i>
        OptionSets / {{pageTitle}}
    </h1>
    
</header>

<div class="container-fluid">

    <form ng-submit="isEditMode ? update(form) : create(form)" name="form" class="form-horizontal max-width" role="form" novalidate>
        <!-- novalidate prevents HTML5 validation since we will be validating ourselves -->

        <div class="form-group" ng-class="{ 'has-error' : form.name.$invalid && submitted }">
            <label class="col-md-2 control-label">Name</label>
            <div class="col-md-4">
                <input class="form-control" ng-model="optionSet.name" type="text" name="name" my-focus="isFocusOnName" required />
                <p ng-show="form.name.$invalid  && submitted" class="help-block">This field is required.</p>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">Description</label>
            <div class="col-md-4">
                <input class="form-control" ng-model="optionSet.description" type="text" name="description" />
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">Options</label>
            <div class="col-md-4">
                <div class="input-group">
                    <input ng-model="newOptionValue" type="text" class="form-control" my-focus="isFocusOnOptions" ng-keypress="addOptionOnEnter($event)" />
                    <span class="input-group-btn"><button type="button" class="btn btn-primary" ng-click="addOption()"> <span class="glyphicon glyphicon-plus"></span> Add this option</button></span>
                </div>
            </div>
        </div>

        <div class="form-group" ng-class="{ 'has-error' : form.description.$invalid && submitted }">
            <div class="col-md-4 col-md-offset-2">

                <accordion close-others="true">
                    <!--<accordion-group ng-repeat="option in dotObject.options track by option.name" ng-mouseenter="optionBtnAreVisible=true" ng-mouseleave="optionBtnAreVisible=false">-->
                    <accordion-group ng-repeat="option in optionSet.options track by option.name" ng-mouseenter="optionBtnAreVisible=true" ng-mouseleave="optionBtnAreVisible=false">
                        <accordion-heading>
                            {{option.name}}
                            <span class="pull-right" ng-if="optionBtnAreVisible">
                                <button type="button" class="btn btn-xs" ng-click="removeOption($index, option, $event)"> <span class="glyphicon glyphicon-remove"></span></button>
                                <button type="button" class="btn btn-xs" ng-click="optionDown($index, option, $event)"> <span class="glyphicon glyphicon-arrow-down"></span></button>
                                <button type="button" class="btn btn-xs" ng-click="optionUp($index, option, $event)"> <span class="glyphicon glyphicon-arrow-up"></span></button>
                            </span>
                        </accordion-heading>

                        <div>Name</div>
                        <input type="text" class="form-control" ng-model="option.name"></input>
                        <br />
                        <div>Description</div>
                        <textarea class="form-control" msd-elastic ng-model="option.description"></textarea>

                    </accordion-group>
                </accordion>

            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-primary"> <span class="glyphicon glyphicon-floppy-disk"></span> {{'GlobalButtons.Save' | translate}} </button>
                <button type="button" class="btn" ng-click="cancel()"> <span class="glyphicon glyphicon-remove"></span> {{'GlobalButtons.Cancel' | translate}} </button>
            </div>
        </div>

    </form>

    <pre>{{optionSet | json}}</pre>

</div>
