<header id="content-header" ng-class="contentHeaderClass">
    <h1>
        <i id="content-header-icon" class="glyphicon glyphicon-tags"></i>
        PickOrder / {{pageTitle}}
    </h1>
    
</header>

<div class="container-fluid">

    <form ng-submit="isEditMode ? update(form) : create(form)" name="form" class="form-horizontal max-width" role="form" novalidate>
        <!-- novalidate prevents HTML5 validation since we will be validating ourselves -->

        <div class="form-group" ng-class="{ 'has-error' : form.name.$invalid && submitted }">
            <label class="col-md-2 control-label">Name</label>
            <div class="col-md-4">
                <input class="form-control" ng-model="pickOrder.name" type="text" required />
                <p ng-show="form.name.$invalid  && submitted" class="help-block">This field is required.</p>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">Description</label>
            <div class="col-md-4">
                <textarea class="form-control" ng-model="pickOrder.description" name="description" msd-elastic></textarea>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">Customer</label>
            <div class="col-md-4">
                <select name="customer" class="form-control" ng-model="pickOrder.customer" ng-options="c as c.name for c in customers" >
                    <option value=""></option>
                </select>
            </div>
        </div>

        <!--related products-->
        <div class="form-group">
            <label class="col-md-2 control-label">Related products</label>
            <div class="col-md-10">
                <div class="panel panel-default">

                    <div class="panel-heading">
                        <a ng-click="showRelatedProductsAside()">Add product</a>
                    </div>

                    <div class="panel-body">
                        <table class="table table-responsive table-hover table-condensed borderless">
                            <thead>
                                <tr>
                                    <th>Cant.</th>
                                    <th>UM</th>
                                    <th>Categorie</th>
                                    <th>Tip</th>
                                    <th>Cod</th>
                                    <th>Denumire</th>
                                     <th>Culoare</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="orderLine in pickOrder.orderLines">
                                    <!--<td>
                                        <img ng-click="showModal(product)" ng-src="{{getPrimaryThumbImageUrl(product.images)}}" width="40" />
                                    </td>-->
                                    <td>{{ orderLine.quantity }}</td>
                                    <td>{{ orderLine.uom }}</td>
                                    <td>{{ orderLine.product.category }}</td>
                                    <td>{{ orderLine.product.type }}</td>
                                    <td>{{ orderLine.product.code }}</td>
                                    <td>{{ orderLine.product.name }} <strong>{{orderLine.product.series}}</strong></td>
                                    <td>{{ orderLine.product.color1 }} {{ orderLine.product.color2 }}</td>


                                    <td>
                                        <a ng-click="deleteRelatedProduct(product)">delete</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div> <!--end panel-->

            </div>
        </div>
        <!--end related products-->


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-primary"> <span class="glyphicon glyphicon-floppy-disk"></span> {{'GlobalButtons.Save' | translate}} </button>
                <button type="button" class="btn" ng-click="cancel()"> <span class="glyphicon glyphicon-remove"></span> {{'GlobalButtons.Cancel' | translate}} </button>
            </div>
        </div>

    </form>

    <!--dotObject: <pre>{{dotObject | json}}</pre>-->
    <!--pickOrder: <pre>{{pickOrder | json}}</pre>-->

</div>
