<header id="content-header" ng-class="contentHeaderClass">
    <h1>
        <i id="content-header-icon" class="glyphicon glyphicon-barcode"></i>
        Products / {{pageTitle}}
    </h1>
    
</header>

<div class="container-fluid">

    <form ng-submit="isEditMode ? update(form) : create(form)" name="form" class="form-horizontal max-width" role="form" novalidate>
        <!-- novalidate prevents HTML5 validation since we will be validating ourselves -->

        <div class="form-group" ng-class="{ 'has-error' : form.name.$invalid && submitted }">
            <label class="col-md-2 control-label">Name </label>
            <div class="col-md-4">
                <input class="form-control" ng-model="product.name" type="text" name="name" my-focus="isFocusOnName" required />
                <p ng-show="form.name.$invalid  && submitted" class="help-block">This field is required.</p>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">Description</label>
            <div class="col-md-4">
                <textarea class="form-control" ng-model="product.description" name="description" msd-elastic></textarea>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">Images </label>
            <div class="col-md-4">
                <div class="panel panel-default" ng-file-drop="onFileSelect($files)" ng-file-drag-over-class="file-drag-over" ng-show="dropSupported">

                    <div class="panel-body">
                        <span style="color:#a9a9a9">Drop files here or</span>
                        <div ng-file-select="onFileSelect($files)" data-multiple="true" accept="image/*" title="Select file" onclick="this.value = null" class="btn btn-primary btn-xs">
                            Select Files
                        </div>
                        <div ng-file-drop-available="dropSupported=true" ng-show="!dropSupported">
                            HTML5 Drop File is not supported!
                        </div>
                    </div>

                    <div ng-repeat="item in product.images">
                        <div class="media" style="margin:10px;">
                            <div class="pull-left">
                                <img ng-click="showModal(product)" ng-src="{{getThumbImageUrl(item)}}" class="img-thumbnail" width="75px;" />
                            </div>
                            <div class="media-body">
                                <span class="pull-right2">
                                    <button ng-if="product.images.length > 1" type="button" class="btn btn-xs" ng-click="itemDown($index)"> <span class="glyphicon glyphicon-arrow-down" title="Move item down"></span></button>
                                    <button ng-if="product.images.length > 1" type="button" class="btn btn-xs" ng-click="itemUp($index)"> <span class="glyphicon glyphicon-arrow-up" title="Move item up"></span></button>
                                    <button type="button" class="btn btn-xs" ng-click="deleteImage(item)"> <span class="glyphicon glyphicon-trash" style="color:#ff0000" title="Delete item"></span></button>
                                </span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="form-group" ng-class="{ 'has-error' : form.code.$invalid && submitted }">
            <label class="col-md-2 control-label">Code </label>
            <div class="col-md-4">
                <input class="form-control" ng-model="product.code" type="text" name="code" required />
                <p ng-show="form.code.$invalid  && submitted" class="help-block">This field is required.</p>
            </div>
        </div>

        <div class="form-group" ng-class="{ 'has-error' : form.um.$invalid && submitted }">
            <label class="col-md-2 control-label">UM</label>
            <div class="col-md-4">
                <select name="um" class="form-control" ng-model="product.um" required>
                    <option value=""></option>
                    <option value="Buc">Buc</option>
                    <option value="Set">Set</option>
                    <option value="Bare">Bare</option>
                </select>
                <p ng-show="form.um.$invalid  && submitted" class="help-block">This field is required.</p>
            </div>
        </div>

        <!--<div class="form-group" ng-class="{ 'has-error' : form.selectedAttributeSet.$invalid && submitted }">
            <label class="col-md-2 control-label">AttributeSet</label>
            <div class="col-md-4">
                <select name="selectedAttributeSet" class="form-control" ng-model="dotObject.selectedAttributeSet" ng-options="c as c.name for c in attributeSets" ng-change="changeAttributeSet()" required>
                    <option value=""></option>
                </select>
                <p ng-show="form.selectedAttributeSet.$invalid  && submitted" class="help-block">This field is required.</p>
            </div>
        </div>

        <div ng-repeat="c in dotObject.selectedAttributeSet.attributes">
            <div class="form-group">
                <label class="col-md-2 control-label">{{c.name}} </label>
                <div class="col-md-4" ng-switch="c.type">

                    <any ng-switch-when="SingleOption">
                        <select class="form-control" ng-model="c.value" ng-options="x for x in c.options">
                            <option value=""></option>
                        </select>
                    </any>

                    <any ng-switch-when="MultipleOptions">
                        <button type="button" class="btn btn-default" ng-model="c.values" data-multiple="1" data-placeholder="Select..." ng-options=" x for x in c.options" bs-select>
                            <span class="caret"></span>
                        </button>
                    </any>

                    <any ng-switch-default>
                        <input class="form-control" ng-model="c.value" type="text" name="name" />
                    </any>

                </div>
            </div>
        </div>-->



        <!--attributes-->
        <div class="form-group">
            <label class="col-md-2 control-label">Attribute Set</label>
            <div class="col-md-4">
                <div class="panel panel-default">

                    <div class="panel-heading">
                        <!--<a ng-click="showRelatedProductsAside()">{{dotObject.selectedAttributeSet.name}}</a>-->
                        <div class="form-group" ng-class="{ 'has-error' : form.selectedAttributeSet.$invalid && submitted }">
                            <!--<label class="col-md-2 control-label">AttributeSet</label>-->
                            <div class="col-md-6">
                                <select name="selectedAttributeSet" class="form-control" ng-model="dotObject.selectedAttributeSet" ng-options="c as c.name for c in attributeSets" ng-change="changeAttributeSet()" required>
                                    <option value=""></option>
                                </select>
                                <p ng-show="form.selectedAttributeSet.$invalid  && submitted" class="help-block">This field is required.</p>
                            </div>
                        </div>
                    </div>

                    <div class="panel-body" style="overflow-y:auto; padding:0;">
                        <table class="table table-responsive table-hover table-condensed borderless" style="margin-bottom:0">
                            <tbody>
                                <tr ng-repeat="c in dotObject.selectedAttributeSet.attributes">

                                    <!--<td>
                                        <div class="form-group">
                                            <label class="col-md-2 control-label">{{c.name}} </label>
                                            <div class="col-md-4" ng-switch="c.type">

                                                <any ng-switch-when="SingleOption">
                                                    <select class="form-control" ng-model="c.value" ng-options="x for x in c.options">
                                                        <option value=""></option>
                                                    </select>
                                                </any>

                                                <any ng-switch-when="MultipleOptions">
                                                    <button type="button" class="btn btn-default" ng-model="c.values" data-multiple="1" data-placeholder="Select..." ng-options=" x for x in c.options" bs-select>
                                                        <span class="caret"></span>
                                                    </button>
                                                </any>

                                                <any ng-switch-default>
                                                    <input class="form-control" ng-model="c.value" type="text" name="name" />
                                                </any>

                                            </div>
                                        </div>

                                    </td>-->
                                    <td>
                                        {{c.name}}
                                    </td>
                                    <td>
                                        <div class="col-md-12" ng-switch="c.type">

                                            <any ng-switch-when="SingleOption">
                                                <select class="form-control" ng-model="c.value" ng-options="x for x in c.options">
                                                    <option value=""></option>
                                                </select>
                                            </any>

                                            <any ng-switch-when="MultipleOptions">
                                                <button type="button" class="btn btn-default" ng-model="c.values" data-multiple="1" data-placeholder="Select..." ng-options=" x for x in c.options" bs-select>
                                                    <span class="caret"></span>
                                                </button>
                                            </any>

                                            <any ng-switch-default>
                                                <input class="form-control" ng-model="c.value" type="text" name="name" />
                                            </any>

                                        </div>
                                    </td>

                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div> <!--end panel-->

            </div>
        </div>
        <!--end attributes-->



        <!--related products-->
        <div class="form-group">
            <label class="col-md-2 control-label">Related products</label>
            <div class="col-md-10">
                <div class="panel panel-default">

                    <div class="panel-heading">
                        <a ng-click="showRelatedProductsAside()">Add related product</a>
                    </div>

                    <div class="panel-body" style="max-height:200px; overflow-y:auto; padding:0;">
                        <table class="table table-responsive table-hover table-condensed borderless" style="margin-bottom:0">
                            <tbody>
                                <tr ng-repeat="product in product.relatedProducts | filter:search">
                                    <td>
                                        <img ng-click="showModal(product)" ng-src="{{getPrimaryThumbImageUrl(product.images)}}" width="40" />
                                    </td>
                                    <td>{{ product.attributeSetName }}</td>
                                    <td>{{ product.code }}</td>
                                    <td>
                                        <a target="_blank" ng-href="/admin/products/{{product.id}}">{{product.name}}</a>
                                        <!--<span ng-if="product.description" class="glyphicon glyphicon-info-sign" data-placement="top" data-trigger="hover" html="true" data-content="{{product.attributes}}" bs-popover></span>-->
                                        <i class="glyphicon glyphicon-info-sign" ng-if="product.description" bs-tooltip data-animation="am-fade-and-scale" data-title="{{product.description}}"></i>
                                    </td>

                                    <td>
                                        <a ng-click="deleteRelatedProduct(product)">delete</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div> <!--end panel-->

            </div>
        </div>
        <!--end related products-->


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-primary"> <span class="glyphicon glyphicon-floppy-disk"></span> Save </button>
                <button type="button" class="btn" ng-click="cancel()"> <span class=" glyphicon glyphicon-remove"></span> Cancel </button>
            </div>
        </div>

    </form>

    <!--dotObject: <pre>{{dotObject | json}}</pre>-->
    <!--product: <pre>{{product.relatedProducts | json}}</pre>-->
    <!--dotObject.selectedAttributeSet: <pre>{{dotObject.selectedAttributeSet | json}}</pre>-->

</div>
