/*      wrappers
===============================*/
#wrapper {
  padding-left: 250px;
  transition: all 0.4s ease 0s;
}
#wrapper.active {
  padding-left: 250px;
}
#wrapper.inactive {
  padding-left: 0px;
}
#sidebar-wrapper {
  position: fixed;
  top: 0;
  margin-left: -250px;
  width: 250px;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #000;
  transition: all 0.4s ease 0s;
  z-index: 15;
}
#page-content-wrapper {
  width: 100%;
}
/*      sidebar content
===============================*/
#sidebar-brand {
  height: 44px;
  text-indent: 20px;
  box-shadow: 0 1px 0 #1e1e1e;
}
#sidebar-brand a {
  display: block;
  padding-top: 9px;
  font-size: 20px;
  color: #999999;
  text-decoration: none;
}
#sidebar-brand a:hover {
  color: #fff;
}
.sidebar-nav {
  position: relative;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.sidebar-nav > li {
  line-height: 40px;
  text-indent: 20px;
}
.sidebar-nav > li > a {
  display: block;
  color: #999999;
  text-decoration: none;
}
.sidebar-nav > li > a:hover {
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
  text-decoration: none;
}
.sidebar-nav > li > a:active,
.sidebar-nav > li > a:focus {
  text-decoration: none;
}
/*      toggle button
===============================*/

#toggle-sidebar-btn {
  position: fixed;
  top: 5px;
  left: 203px;
  color: #999999;
  border-color: transparent;
  background-color: transparent;
  transition: all 0.4s ease 0s;
  z-index: 250;
}

#toggle-sidebar-btn.insideBar {
  left: 203px;
}
#toggle-sidebar-btn:hover {
  color: #fff;
  background-color: #333131;
  border-color: #555353;
}
#toggle-sidebar-btn.outsideBar {
    position:absolute;
  left: 7px;
  background-color: #fff;
}
#toggle-sidebar-btn.outsideBar:hover {
  color: #000;
  background-color: #f8f8f8;
  border-color: #c2bebe;
}
#toggle-sidebar-btn.outsideBar > i:before {
  content: "\e236";
  /* glyphicon-menu-hamburger */
}
/*     page content 
===============================*/
/*#content-header {
    position: fixed;
    left:250px;
    width:100%;

    background-color:#fff;
    box-shadow: 0 1px 0 rgba(0,0,0,.07);
    
    transition: all 0.4s ease 0s;
    z-index:10;
}

#content-header.partialScreen {
    left: 250px;
}

#content-header.fullScreen {
    left: 0px;
}*/
/*temp*/
#content-header {
  padding: 0px 15px 1px 15px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.07);
  transition: all 0.4s ease 0s;
  _z-index: 10;
}
.toolbar {
  _margin-top: 10px;
  margin-bottom: 10px;
}
.toolbar .btn {
  margin-top: 5px;
  margin-bottom: 5px;
}
.toolbar .form-control {
  margin-top: 5px;
  margin-bottom: 5px;
}
#content-header.partialScreen {
  _left: 250px;
}
#content-header.fullScreen {
  _left: 0px;
  padding-left:55px;
}
/*end temp*/
#content-header h1 {
  margin-top: 10px;
  font-size: 20px;
}
#content-header-icon {
  margin-right: 10px;
}
/*     used to detect screen size in Js
===============================*/
body:after {
  content: 'large';
  display: none;
}
/*     small screen only 
===============================*/
@media (max-width: 767px) {
  body:after {
    content: 'small';
  }
  #wrapper {
    padding-left: 0px;
  }
  #content-header {
    left: 0;
  }
  /*      toggle button
    ===============================*/
  #toggle-sidebar-btn {
    left: 8px;
    background-color: #fff;
  }
  #toggle-sidebar-btn.insideBar {
    background-color: transparent;
  }
  #toggle-sidebar-btn > i:before {
    content: "\e236";
    /* glyphicon-menu-hamburger */
  }
  #toggle-sidebar-btn.insideBar > i:before {
    content: "\e079";
    /* gliphicon-chevron-left */
  }
  /*      toggle button - hover
    ===============================*/
  #toggle-sidebar-btn:hover {
    color: #000;
    background-color: #f8f8f8;
    border-color: #c2bebe;
  }
  #toggle-sidebar-btn.outsideBar:hover {
    color: #000;
    background-color: #f8f8f8;
    border-color: #c2bebe;
  }
  #toggle-sidebar-btn.insideBar:hover {
    color: #fff;
    background-color: #333131;
    border-color: #555353;
  }
}
/*     browser happy 
===============================*/
.browsehappy {
  margin: 0.7em 0;
  background: #ef6969;
  color: #000;
  padding: 0.2em 0;
  position: fixed;
  width: 100%;
  z-index: 9999;
}

/*     miscellaneous 
===============================*/
.container-fluid {
  margin-top: 10px;
}
[ng-click] {
  cursor: pointer;
}
/* 'remove' placeholder on focus- http://stackoverflow.com/a/24951134/2726725  */
input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
  color: transparent;
}
.file-drag-over {
  background-color: #ebfad7;
  border-style: dashed;
  border-width: 1px;
  border-color: blue;
}
/* modal dialog for displaying images
===============================*/
.modal-image .modal-dialog {
  width: 90%;
  height: 90%;
}
.modal-image .modal-content {
  height: 100%;
  _border-radius: 0;
  _color: white;
  overflow: auto;
  _background-color: #ef6969;
}
.modal-image .modal-header {
  border-bottom: 0px;
}
.modal-image .modal-body {
  padding: 0;
}
.modal-image .modal-content .selected-image {
  margin: 0px auto 0 auto;
  display: block;
}
.modal-image .img-thumb-select {
  margin: 5px;
  border-width: 2px;
  _height: 100%;
  cursor: pointer;
  _width: 50px;
}
.modal-image .img-thumb-select:hover {
  border-color: #c2bebe;
}
.modal-image .img-thumb-select.active {
  _border-width: 1px;
  border-color: orange;
}
/* Add opacity to modal - http://mgcrea.github.io/angular-strap/##modals
===============================*/
.modal-backdrop.am-fade {
  opacity: .5;
}
.aside {
  min-width: 200px;
  max-width: 50%;
}
@media (max-width: 767px) {
  .aside {
    _min-width: 200px;
    max-width: 90%;
  }
}
.aside-header {
  height: 47px;
}
/*remove table borders - http://stackoverflow.com/a/24830641/2726725*/
.borderless tbody tr td,
.borderless thead tr th {
  border: none;
}
.aside .aside-dialog .aside-body {
  padding: 0;
}
